<footer class="footer">
  <div class="footer__legal">
    <a routerLink="/privacy" class="footer__legal-link">{{ 'footer.privacy' | translate }}</a>
    <span class="footer__legal-sep">·</span>
    <a routerLink="/terms" class="footer__legal-link">{{ 'footer.terms' | translate }}</a>
  </div>
  <p>{{ 'footer.copyright' | translate }}</p>
  <p class="footer__creator">
    {{ 'footer.createdBy' | translate }}
    <a class="footer__creator-link" href="https://github.com/gutocz" target="_blank" rel="noopener noreferrer">{{ 'footer.creatorName' | translate }}</a>
  </p>
</footer>
