@use 'styles/variables' as *;
@use 'styles/typography';
@use 'styles/animations';
@use 'styles/brutalist';

@import 'ngx-toastr/toastr';


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $color-bg;
  cursor: url('assets/cursors/cursor-default.svg'), auto;
}

a,
button,
[role="button"],
.clickable {
  @include cursor-pointer;
}

body.cursor-click {
  cursor: url('/assets/cursors/pointer_click.svg'), pointer !important;
}
